.Game {
  min-height: 100vh;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background-color: rgb(219, 198, 240);
}

.Game button {
  padding: 0.7rem;
  background-color: blueviolet;
  color: white;
  outline: none;
}

.Option {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
  margin-top: 0.5rem;
  border-radius: 15px;
}

.Option:hover {
  background-color: rgb(82, 26, 134);
}
