.Options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.green {
  background-color: rgb(0, 128, 90);
}

.red {
  background-color: rgb(255, 0, 85);
}
